<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- XML을 작성할 때 namespace의 값은 인터페이스의 이름, 메소드의 이름은 <select> 태그의 id와 일치해야 함 -->
<mapper namespace="org.zerock.springex.mapper.TodoMapper">
    <select id="getTime" resultType="string">
        select now()
    </select>

    <insert id="insert">
        insert into tbl_todo (title, dueDate, writer) values ( #{title}, #{dueDate}, #{writer})
    </insert>

    <select id="selectAll" resultType="org.zerock.springex.domain.TodoVO">
        select * from tbl_todo order by tno desc
    </select>

    <select id="selectOne" resultType="org.zerock.springex.domain.TodoVO">
        select * from tbl_todo where tno = #{tno}
    </select>
</mapper>